@{
    <div class="row">
        <div class="col-12 tile">
            <div class="py-3">
                <div class="bg-black slide-left text-md-start text-center">
                    <span class="font-raleway display-6 text-white px-md-5">WHO I AM ?</span>
                </div>
            </div>
            <div class="container-fluid bg-white text-black">
                <div class="py-3">
                    <div class="row">
                        <div class="d-flex align-items-center flex-column flex-md-row">
                            <div class="col-6 col-md-2">
                                <img src="/img/newspaper_1.jpg" alt="" class="img-fluid rounded-circle shadow-lg">
                            </div>
                            <div class="col-md-10 p-4">
                                <span class="text-black lead">
                                    Te salut! <br />
                                    Sunt Alexandru Marica și mă bucur că ai ales sa citești puțin
                                    despre mine. Fotografia pentru mine a fost o revelație. Nu am avut
                                    nevoie de un aparat să știu că voi fi fotograf.
                                </span>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="d-flex align-items-center text-end flex-column-reverse flex-md-row">
                            <div class="col-12 p-4 text-md-end text-center">
                                <span class="text-black lead ">
                                    Mi-a readus dorința de a putea crea și de a
                                    transmite exact ceea
                                    ce simt atât prin ideile pe care le am la ședințele foto cât și
                                    prin editare. Am spus-o și am să o spun mereu clienților mei: "<strong>
                                        Puneți mai
                                        mult accentul pe amintiri. Într-un final cu asta va
                                        rămâne fiecare
                                    </strong>". Pentru mine fotografia râmane o arta, o știință și
                                    o pasiune nemuritoare.
                                </span>
                            </div>
                       
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>

}
