@{
    <div class="d-flex flex-row justify-content-center align-items-center">
        <a asp-controller="Album" asp-action="Index" class="btn btn-primary mx-2">Manage Albums</a>
        <a asp-action="Index" asp-controller="Review" class="btn btn-primary mx-2">Manage Revews</a>
        <a asp-action="Index"  asp-controller="Stats" class="btn btn-primary mx-2">Manage Statuses</a>
       
    </div>

    <div class="my-3 d-flex flex-row justify-content-center align-items-center">
        <a asp-action="ChangeWedding" asp-controller="Cover" class="btn btn-primary mx-2">Change Wedding Cover</a>
        <a asp-action="ChangeChristening" asp-controller="Cover" class="btn btn-primary mx-2">Change Christening Cover</a>
        <a asp-action="ChangeCivil" asp-controller="Cover" class="btn btn-primary mx-2">Change Civil Wedding Cover</a>
    </div>

}
